<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.account.mapper.TeacherOrganRelationMapper" >
    <resultMap id="TeacherOrganRelationMap" type="com.xingtan.account.entity.TeacherOrganRelation" >
        <id column="id" property="id"/>
        <result column="teacherId" property="teacher_id" />
        <result column="organId" property="organ_id" />
        <result column="gmtCreate" property="gmt_create"/>
        <result column="gmtModified" property="gmt_modified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, teacher_id, organ_id ]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, teacher_id, organ_id, gmt_create, gmt_modified]]>
    </sql>

    <select id="getTeacherOrganRelationById" parameterType="java.lang.Long" resultMap="TeacherOrganRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher_organ_relation`
        WHERE id = #{id}
    </select>
    <select id="getTeacherOrganRelationByTeacherId" parameterType="java.lang.Long" resultMap="TeacherOrganRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher_organ_relation`
        WHERE  teacher_id= #{teacherId}
    </select>
    <select id="getTeacherOrganRelationByOrganId" parameterType="java.lang.Long" resultMap="TeacherOrganRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher_organ_relation`
        WHERE organ_id = #{organId}
    </select>
    <insert id="insertTeacherOrganRelation" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.account.entity.TeacherOrganRelation" >
        INSERT INTO
        `teacher_organ_relation`
        (teacher_id, organ_id, gmt_create, gmt_modified)
        VALUES
        (#{teacherId}, #{organId}, NOW(), NOW())
    </insert>
    <update id="updateTeacherOrganRelation" parameterType="com.xingtan.account.entity.TeacherOrganRelation" >
        UPDATE
        `teacher_organ_relation`
        SET
        <if test="teacherId != null">teacher_id = #{teacherId},</if>
        <if test="organId != null">organ_id = #{organId},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteTeacherOrganRelation" parameterType="java.lang.Long" >
        DELETE FROM
            `teacher_organ_relation`
        WHERE
            id =#{id}
    </delete>

</mapper>