<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.account.mapper.TeacherMapper" >
    <resultMap id="TeacherMap" type="com.xingtan.account.entity.Teacher" >
        <id column="id" property="id"/>
        <result column="userName" property="user_name"/>
        <result column="realName" property="real_name"/>
        <result column="enName" property="en_name"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="headImage" property="head_image"/>
        <result column="idCardType" property="id_card_type" />
        <result column="idCardNo" property="id_card_no" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="address" property="address" />
        <result column="zipCode" property="zip_code" />
        <result column="introduce" property="introduce" />
        <result column="enabled" property="enabled" />
        <result column="gmtCreate" property="gmt_create"/>
        <result column="gmtModified" property="gmt_modified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, user_name, real_name, en_name, sex, birthday, telephone, email, `password`, head_image, id_card_type,
    id_card_no, province, city, district, address, zip_code, introduce, enabled ]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, user_name, real_name, en_name, sex, birthday, telephone, email, `password`, head_image, id_card_type,
    id_card_no, province, city, district, address, zip_code, introduce, enabled, gmt_create, gmt_modified]]>
    </sql>

    <select id="getTeacherById" parameterType="java.lang.Long" resultMap="TeacherMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `student`
        WHERE id = #{id}
    </select>
    <select id="getTeacherByUserName" parameterType="java.lang.String" resultMap="TeacherMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `student`
        WHERE user_name = #{userName}
    </select>
    <select id="getTeacherByPhone" parameterType="java.lang.String" resultMap="TeacherMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `student`
        WHERE `telephone` = #{telephone}
    </select>
    <select id="getTeacherByEmail" parameterType="java.lang.String" resultMap="TeacherMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher`
        WHERE email = #{email}
    </select>
    <select id="getTeacherByIdCardNo" parameterType="java.lang.String" resultMap="TeacherMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher`
        WHERE id_card_no = #{idCardNo}
    </select>
    <insert id="insertTeacher" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.account.entity.Teacher" >
        INSERT INTO
        `teacher`
        (user_name, real_name, en_name, sex, birthday, telephone, email, `password`, head_image, id_card_type,
        id_card_no, province, city, district, address, zip_code, introduce, gmt_create, gmt_modified)
        VALUES
        (#{userName}, #{realName},#{enName}, #{sex}, #{birthday}, #{telephone}, #{email}, #{password}, #{headImage}, #{idCardType},
        #{idCardNo}, #{province}, #{city}, #{district}, #{address}, #{zipCode}, #{introduce}, NOW(), NOW())
    </insert>

    <update id="updateTeacher" parameterType="com.xingtan.account.entity.Teacher" >
        UPDATE
        `teacher`
        SET
        <if test="userName != null">user_name = #{userName},</if>
        <if test="realName != null">real_name = #{realName},</if>
        <if test="enName != null">en_name = #{enName},</if>
        <if test="sex != null">sex = #{sex},</if>
        <if test="birthday != null">birthday = #{birthday},</if>
        <if test="telephone != null">telephone = #{telephone},</if>
        <if test="email != null">email = #{email},</if>
        <if test="password != null">password = #{password},</if>
        <if test="headImage != null">head_image = #{headImage},</if>
        <if test="idCardType != null">id_card_type = #{idCardType},</if>
        <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
        <if test="province != null">province = #{province},</if>
        <if test="city != null">city = #{city},</if>
        <if test="district != null">district = #{district},</if>
        <if test="address != null">address = #{address},</if>
        <if test="zipCode != null">zip_code = #{zipCode},</if>
        <if test="introduce != null">introduce = #{introduce},</if>
        <if test="enabled != null">enabled = #{enabled},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteTeacher" parameterType="java.lang.Long" >
        DELETE FROM
            `teacher`
        WHERE
            id =#{id}
    </delete>

</mapper>