<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.course.mapper.ClassesMapper" >
    <resultMap id="ClassesMap" type="com.xingtan.course.entity.Classes" >
        <id column="id" property="id"/>
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="introduce" property="introduce" />
        <result column="status" property="status" />
        <result column="year" property="year" />
        <result column="studentCount" property="student_count" />
        <result column="lessonCount" property="lesson_count" />
        <result column="lessonPeriodMin" property="lesson_period_min" />
        <result column="term" property="term" />
        <result column="openDate" property="open_date" />
        <result column="classesTime" property="classes_time" />
        <result column="classroom" property="classroom" />
        <result column="courseId" property="course_id" />
        <result column="cost" property="cost" />
        <result column="gmtCreate" property="gmt_create"/>
        <result column="gmtModified" property="gmt_modified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, `name`, `code`, introduce, `status`, `year`, student_count, lesson_count, lesson_period_min,
    term, open_date, classes_time, classroom, course_id, cost]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, `name`, `code`, introduce, `status`, `year`, student_count, lesson_count, lesson_period_min,
    term, open_date, classes_time, classroom, course_id, cost, gmt_create, gmt_modified]]>
    </sql>

    <select id="getClassesById" parameterType="java.lang.Long" resultMap="ClassesMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `classes`
        WHERE id = #{id}
    </select>

    <insert id="insertClasses" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.course.entity.Classes" >
        INSERT INTO
        `classes`
        (`name`, `code`, introduce, `status`, `year`, student_count, lesson_count, lesson_period_min,
         term, open_date, classes_time, classroom, course_id, cost, gmt_create, gmt_modified)
        VALUES
        (#{name}, #{code}, #{introduce}, #{status}, #{year}, #{studentCount}, #{lessonCount},#{lessonPeriodMin}, #{term},
        #{openDate}, #{classesTime}, #{classroom}, #{courseId}, #{cost}, NOW(), NOW())
    </insert>

    <update id="updateClasses" parameterType="com.xingtan.course.entity.Classes" >
        UPDATE
        `classes`
        SET
        <if test="name != null">`name` = #{name},</if>
        <if test="code != null">`code` = #{code},</if>
        <if test="introduce != null">introduce = #{introduce},</if>
        <if test="status != null">status = #{status},</if>
        <if test="year != null">year = #{year},</if>
        <if test="studentCount != null">student_count = #{studentCount},</if>
        <if test="lessonCount != null">lesson_count = #{lessonCount},</if>
        <if test="lessonPeriodMin != null">lesson_period_min = #{lessonPeriodMin},</if>
        <if test="term != null">term = #{term},</if>
        <if test="openDate != null">open_date = #{openDate},</if>
        <if test="classesTime != null">classes_time = #{classesTime},</if>
        <if test="classroom != null">classroom = #{classroom},</if>
        <if test="courseId != null">course_id = #{courseId},</if>
        <if test="cost != null">cost = #{cost},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteClasses" parameterType="java.lang.Long" >
        DELETE FROM
            `classes`
        WHERE
            id =#{id}
    </delete>

</mapper>