<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.customer.mapper.QuestionTypeMapper" >
    <resultMap id="QuestionTypeMap" type="com.xingtan.customer.entity.QuestionType" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gmtCreate" property="gmt_create"/>
        <result column="gmtModified" property="gmt_modified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, `name`]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, `name`, gmt_create, gmt_modified]]>
    </sql>

    <select id="getAll"  resultMap="QuestionTypeMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `question_type`
    </select>

    <select id="getQuestionTypeById" parameterType="java.lang.Long" resultMap="QuestionTypeMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `question_type`
        WHERE id = #{id}
    </select>

    <select id="getQuestionTypesByName" parameterType="java.lang.String" resultMap="QuestionTypeMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `question_type`
        WHERE name like #{name}
    </select>
    <insert id="insertQuestionType" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.customer.entity.QuestionType" >
        INSERT INTO
        `question_type`
        (`name`, gmt_create, gmt_modified)
        VALUES
        (#{name}, NOW(), NOW())
    </insert>

    <update id="updateQuestionType" parameterType="com.xingtan.customer.entity.QuestionType" >
        UPDATE
        `question_type`
        SET
        <if test="name != null">name = #{name},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteQuestionType" parameterType="java.lang.Long" >
        DELETE FROM
            `question_type`
        WHERE
            id =#{id}
    </delete>

</mapper>