<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.school.mapper.GradeValidateMessageMapper" >
    <resultMap id="GradeValidateMessageMap" type="com.xingtan.school.entity.GradeValidateMessage" >
        <id column="id" property="id"/>
        <result column="send_user_id" property="sendUserId"/>
        <result column="student_id" property="studentId"/>
        <result column="message" property="message"/>
        <result column="validate_user_id" property="validateUserId"/>
        <result column="grade_id" property="gradeId" />
        <result column="result" property="result" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, send_user_id, student_id, message, validate_user_id, grade_id, result]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, send_user_id, student_id, message, validate_user_id, grade_id, result, gmt_create, gmt_modified]]>
    </sql>

    <select id="getMessageBySendUserId" parameterType="java.lang.Long" resultMap="GradeValidateMessageMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `grade_validate_message`
        WHERE send_user_id = #{sendUserId}
    </select>
    <select id="getMessageByValidateUserId" parameterType="java.lang.Long" resultMap="GradeValidateMessageMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `grade_validate_message`
        WHERE validate_user_id = #{validateUserId}
    </select>
    <select id="getMessageById" parameterType="java.lang.Long" resultMap="GradeValidateMessageMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `grade_validate_message`
        WHERE id = #{id}
    </select>
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.school.entity.GradeValidateMessage" >
        INSERT INTO
        `grade_validate_message`
        (send_user_id, student_id, message, validate_user_id, grade_id, result, gmt_create, gmt_modified)
        VALUES
        (#{sendUserId}, #{studentId}, #{message}, #{validateUserId}, #{gradeId}, #{result}, NOW(), NOW())
    </insert>

    <update id="updateMessage" parameterType="com.xingtan.school.entity.GradeValidateMessage" >
        UPDATE
        `grade_validate_message`
        SET
        <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
        <if test="studentId != null">student_id = #{studentId},</if>
        <if test="message != null">message = #{message},</if>
        <if test="validateUserId != null">validate_user_id = #{validateUserId},</if>
        <if test="gradeId != null">grade_id = #{gradeId},</if>
        <if test="result != null">result = #{result},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteMessage" parameterType="java.lang.Long" >
        DELETE FROM
            `grade_validate_message`
        WHERE
            id =#{id}
    </delete>

</mapper>