<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.habit.mapper.HabitQuestionMapper" >
    <resultMap id="HabitQuestionMap" type="com.xingtan.habit.entity.HabitQuestion" >
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="title" property="title" />
        <result column="weight" property="weight" />
        <result column="introduce" property="introduce" />
        <result column="good" property="good" />
        <result column="bad" property="bad" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, `type`, title, weight, introduce, good,bad]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, `type`,  title, weight, introduce, good, bad, gmt_create, gmt_modified]]>
    </sql>

    <select id="getHabitQuestionById" parameterType="java.lang.Long" resultMap="HabitQuestionMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `habit_question`
        WHERE id = #{id}
    </select>

    <select id="getHabitQuestionByTitle" parameterType="java.lang.String" resultMap="HabitQuestionMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `habit_question`
        WHERE title like '%${title}%'
    </select>

    <select id="getHabitQuestionByIds" parameterType="java.lang.Long" resultMap="HabitQuestionMap" >
        SELECT
        <include refid="BASE_COLUMNS" />
        FROM `habit_question`
        WHERE id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <insert id="insertHabitQuestion" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.habit.entity.HabitQuestion" >
        INSERT INTO
        `habit_question`
        (`type`, title, weight, introduce, good,bad, gmt_create, gmt_modified)
        VALUES
        (#{type}, #{title}, #{weight}, #{introduce}, #{good},#{bad}, NOW(), NOW())
    </insert>

    <update id="updateHabitQuestion" parameterType="com.xingtan.habit.entity.HabitQuestion" >
        UPDATE
        `habit_question`
        SET
        <if test="type != null">`type` = #{type},</if>
        <if test="title != null">title = #{title},</if>
        <if test="weight != null">weight = #{weight},</if>
        <if test="introduce != null">introduce = #{introduce},</if>
        <if test="good != null">good = #{good},</if>
        <if test="bad != null">bad= #{bad},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteHabitQuestion" parameterType="java.lang.Long" >
        DELETE FROM
            `habit_question`
        WHERE
            id =#{id}
    </delete>

</mapper>