<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.customer.mapper.QuestionMapper" >
    <resultMap id="QuestionMap" type="com.xingtan.customer.entity.Question" >
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="type_id" property="typeId"/>
        <result column="created_user_id" property="createdUserId" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, content, type_id, `status`, created_user_id]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, content, type_id, created_user_id, `status`, gmt_create, gmt_modified]]>
    </sql>

    <select id="getQuestionById" parameterType="java.lang.Long" resultMap="QuestionMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `question`
        WHERE id = #{id}
    </select>
    <select id="getQuestionsByTypeId" parameterType="java.lang.Long" resultMap="QuestionMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `question`
        WHERE type_id = #{typeId}
    </select>
    <select id="getQuestionsByName" parameterType="java.lang.String" resultMap="QuestionMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `question`
        WHERE name like #{name}
    </select>
    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.customer.entity.Question" >
        INSERT INTO
        `question`
        (content, type_id, created_user_id, `status`, gmt_create, gmt_modified)
        VALUES
        (#{content}, #{typeId}, #{createdUserId}, `status`, NOW(), NOW())
    </insert>

    <update id="updateQuestion" parameterType="com.xingtan.customer.entity.Question" >
        UPDATE
        `question`
        SET
        <if test="content != null">content = #{content},</if>
        <if test="typeId != null">type_id = #{typeId},</if>
        <if test="createdUserId != null">created_user_id = #{createdUserId},</if>
        <if test="status != null">`status` = #{status},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteQuestion" parameterType="java.lang.Long" >
        DELETE FROM
            `question`
        WHERE
            id =#{id}
    </delete>

</mapper>