<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.school.mapper.SchoolMapper" >
    <resultMap id="SchoolMap" type="com.xingtan.school.entity.School" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="en_name" property="enName"/>
        <result column="code" property="code"/>
        <result column="build_year" property="buildYear" />
        <result column="head_image" property="headImage" />
        <result column="telephone" property="telephone" />
        <result column="parent_id" property="parentId" />
        <result column="created_user_id" property="createdUserId" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="address" property="address" />
        <result column="zip_code" property="zipCode" />
        <result column="type" property="type" />
        <result column="introduce" property="introduce" />
        <result column="enabled" property="enabled" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, `name`, en_name, `code`, build_year, head_image, telephone, parent_id, created_user_id, province, city, district,
    address, zip_code, type, introduce, enabled]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, `name`, en_name, `code`, build_year, head_image, telephone, parent_id, created_user_id, province, city, district,
    address, zip_code, type, introduce, enabled, gmt_create, gmt_modified]]>
    </sql>

    <select id="getSchoolById" parameterType="java.lang.Long" resultMap="SchoolMap" >
        SELECT
        <include refid="BASE_COLUMNS" />
        FROM `school`
        WHERE id = #{id}
    </select>
    <select id="getSchoolByName" parameterType="java.lang.String" resultMap="SchoolMap" >
        <bind name="pattern" value="'%' + name + '%'" />
        SELECT
        <include refid="BASE_COLUMNS" />
        FROM `school`
        WHERE name like #{pattern}
    </select>
    <insert id="insertSchool" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.school.entity.School" >
        INSERT INTO
        `school`
        (`name`, en_name, `code`, build_year, head_image, telephone, parent_id, created_user_id, province, city, district,
         address, zip_code, type, introduce, enabled, gmt_create, gmt_modified)
        VALUES
        (#{name}, #{enName},#{code}, #{buildYear}, #{headImage}, #{telephone}, #{parentId}, #{createdUserId}, #{province}, #{city},
        #{district}, #{address}, #{zipCode}, #{type}, #{introduce},#{enabled}, NOW(), NOW())
    </insert>

    <update id="updateSchool" parameterType="com.xingtan.school.entity.School" >
        UPDATE
        `school`
        SET
        <if test="name != null">name = #{name},</if>
        <if test="enName != null">en_name = #{enName},</if>
        <if test="code != null">code = #{code},</if>
        <if test="buildYear != null">build_year = #{buildYear},</if>
        <if test="headImage != null">head_image = #{headImage},</if>
        <if test="telephone != null">telephone = #{telephone},</if>
        <if test="parentId != null">parent_id = #{parentId},</if>
        <if test="createdUserId != null">created_user_id = #{createdUserId},</if>
        <if test="province != null">province = #{province},</if>
        <if test="city != null">city = #{city},</if>
        <if test="district != null">district = #{district},</if>
        <if test="address != null">address = #{address},</if>
        <if test="zipCode != null">zip_code = #{zipCode},</if>
        <if test="type != null">type = #{type},</if>
        <if test="introduce != null">introduce = #{introduce},</if>
        <if test="enabled != null">enabled = #{enabled},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteSchool" parameterType="java.lang.Long" >
        DELETE FROM
            `school`
        WHERE
            id =#{id}
    </delete>

</mapper>