<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.account.mapper.TeacherSchoolRelationMapper" >
    <resultMap id="TeacherSchoolRelationMap" type="com.xingtan.account.entity.TeacherSchoolRelation" >
        <id column="id" property="id"/>
        <result column="teacher_id" property="teacherId" />
        <result column="school_id" property="schoolId" />
        <result column="type" property="type" />
        <result column="alias" property="alias" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, teacher_id, school_id, type, alias ]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, teacher_id, school_id, type, alias, gmt_create, gmt_modified]]>
    </sql>

    <select id="getRelationById" parameterType="java.lang.Long" resultMap="TeacherSchoolRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher_school_relation`
        WHERE id = #{id}
    </select>
    <select id="getRelationsByTeacherId" parameterType="java.lang.Long" resultMap="TeacherSchoolRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher_school_relation`
        WHERE  teacher_id= #{teacherId}
    </select>
    <select id="geRelationsBySchoolId" parameterType="java.lang.Long" resultMap="TeacherSchoolRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `teacher_school_relation`
        WHERE school_id = #{schoolId}
    </select>
    <insert id="insertRelation" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.account.entity.TeacherSchoolRelation" >
        INSERT INTO
        `teacher_school_relation`
        (teacher_id, school_id, type, alias, gmt_create, gmt_modified)
        VALUES
        (#{teacherId}, #{schoolId}, #{type}, #{alias}, NOW(), NOW())
    </insert>
    <update id="updateRelation" parameterType="com.xingtan.account.entity.TeacherSchoolRelation" >
        UPDATE
        `teacher_school_relation`
        SET
        <if test="teacherId != null">teacher_id = #{teacherId},</if>
        <if test="schoolId != null">school_id = #{schoolId},</if>
        <if test="type != null">type = #{type},</if>
        <if test="alias != null">alias = #{alias},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteRelation" parameterType="java.lang.Long" >
        DELETE FROM
            `teacher_school_relation`
        WHERE
            id =#{id}
    </delete>

</mapper>