<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.account.mapper.UserBaseDataMapper" >
    <resultMap id="UserBaseDataMap" type="com.xingtan.account.entity.UserBaseData" >
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="head_image" property="headImage"/>
        <result column="id_card_type" property="idCardType" />
        <result column="id_card_no" property="idCardNo" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="address" property="address" />
        <result column="introduce" property="introduce" />
        <result column="weixin" property="weixin" />
        <result column="qq" property="qq" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, user_id, sex, birthday, head_image, id_card_type,
    id_card_no, country, province, city, district, address, introduce, weixin, qq ]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, user_id, sex, birthday, head_image, id_card_type,
    id_card_no, country, province, city, district, address, introduce, weixin, qq,gmt_create, gmt_modified]]>
    </sql>

    <select id="getDataByUserId" parameterType="java.lang.Long" resultMap="UserBaseDataMap" >
        SELECT
        <include refid="BASE_COLUMNS" />
        FROM `user_base_data`
        WHERE user_id = #{userId}
    </select>

    <insert id="insertUserBaseData" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.account.entity.User" >
        INSERT INTO
        `user_base_data`
        (user_id, sex, birthday, head_image, id_card_type,
         id_card_no, country, province, city, district, address, introduce, weixin, qq, gmt_create, gmt_modified)
        VALUES
        (#{userId}, #{sex}, #{birthday}, #{headImage}, #{idCardType},
        #{idCardNo},  #{country}, #{province}, #{city}, #{district}, #{address}, #{introduce}, #{weixin}, #{qq},NOW(), NOW())
    </insert>

    <update id="updateUserBaseData" parameterType="com.xingtan.account.entity.User" >
        UPDATE
        `user_base_data`
        SET
        <if test="userId != null">user_id = #{userId},</if>
        <if test="sex != null">sex = #{sex},</if>
        <if test="birthday != null">birthday = #{birthday},</if>
        <if test="headImage != null">head_image = #{headImage},</if>
        <if test="idCardType != null">id_card_type = #{idCardType},</if>
        <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
        <if test="country != null">country = #{country},</if>
        <if test="province != null">province = #{province},</if>
        <if test="city != null">city = #{city},</if>
        <if test="district != null">district = #{district},</if>
        <if test="address != null">address = #{address},</if>
        <if test="introduce != null">introduce = #{introduce},</if>
        <if test="weixin != null">weixin = #{weixin},</if>
        <if test="qq != null">qq = #{qq},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteUserBaseData" parameterType="java.lang.Long" >
        DELETE FROM
        `user_base_data`
        WHERE
        id =#{id}
    </delete>

</mapper>