<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingtan.habit.mapper.UserHabitRelationMapper" >
    <resultMap id="UserHabitRelationMap" type="com.xingtan.habit.entity.UserHabitRelation" >
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="habit_id" property="habitId"/>
        <result column="created_user_id" property="createdUserId" />
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="BASE_COLUMNS" >
        <![CDATA[id, user_id, habit_id, created_user_id]]>
    </sql>
    <sql id="ALL_COLUMNS" >
        <![CDATA[id, user_id, habit_id, created_user_id, gmt_create, gmt_modified]]>
    </sql>

    <select id="getRelationById" parameterType="java.lang.Long" resultMap="UserHabitRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `user_habit_relation`
        WHERE id = #{id}
    </select>

    <select id="getRecordsByUserId" parameterType="java.lang.Long" resultMap="UserHabitRelationMap" >
        SELECT
        <include refid="ALL_COLUMNS" />
        FROM `user_habit_relation`
        WHERE user_id = #{userId}
    </select>

    <select id="getCountOfHabit" parameterType="java.lang.Long" resultType="java.lang.Long" >
        SELECT
        COUNT(1) AS cnt
        FROM `user_habit_relation`
        WHERE habit_id = #{habitId}
    </select>

    <insert id="insertRelation" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.habit.entity.UserHabitRelation" >
        INSERT INTO
        `user_habit_relation`
        (user_id, habit_id, created_user_id, gmt_create, gmt_modified)
        VALUES
        (#{userId}, #{habitId}, #{createdUserId},NOW(), NOW())
    </insert>

    <insert id="insertBatchRelations" useGeneratedKeys="true" keyProperty="id" parameterType="com.xingtan.habit.entity.UserHabitRelation" >
        INSERT INTO
        `user_habit_relation`
        (user_id, habit_id, created_user_id, gmt_create, gmt_modified)
        VALUES
        <foreach collection="list" item="rel" index="index" separator=",">
        (#{rel.userId}, #{rel.habitId}, #{rel.createdUserId},NOW(), NOW())
        </foreach>
    </insert>

    <update id="updateRecord" parameterType="com.xingtan.habit.entity.UserHabitRelation" >
        UPDATE
        `user_habit_relation`
        SET
        <if test="userId != null">user_id = #{userId},</if>
        <if test="habitId != null">habit_id = #{habitId},</if>
        <if test="createdUserId != null">created_user_id = #{createdUserId},</if>
        gmt_modified = now()
        WHERE
        id = #{id}
    </update>

    <delete id="deleteRecord" parameterType="java.lang.Long" >
        DELETE FROM
            `user_habit_relation`
        WHERE
            id =#{id}
    </delete>

    <delete id="deleteBatchRecord" parameterType="java.lang.Long" >
        DELETE FROM
        `user_habit_relation`
        WHERE
        id in
        <foreach collection="ids" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>